<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registeration</title>
</head>
<body>
  <form action="register" method="POST">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First name"><br>
    <input type="text" name="last_name" placeholder="Last name"><br>
    <input type="text" name="username" placeholder="User name"><br>
    <input type="email" name="email" placeholder="Email address"><br>
    <input type="password" name="password1" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Confrim password"><br>
    <button>Submit</button>
  </form>
  <p>Already have an account? <a href="login">Click here</a> to login.
  <div>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
  </div>
</body>
</html>